.box{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes example {
    0% {background-color: blue;}
    25% {background-color: red;}
    50% {background-color: green;}
    75% {background-color: yellow;}
    100% {background-color: blue;}
  }