.body{
    align-items: center;
}
.container{
    height: 600px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.panel{
    height: 500px;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    width: 100px;
    flex: 0.5;
    position: relative;
    cursor: pointer;
    transition: 1s ease-in;
}

.panel h3{
    color: white;
    position: absolute;
    font-size: 24px;
    bottom:20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
}

